<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Main Menu -->
        <menuitem id="menu_hospital_root"
                  name="Hospital"
                  sequence="1"/>

        <!-- Child Menu -->
        <menuitem id="menu_front_desk"
                  name="Front Menu"
                  parent="menu_hospital_root"
                  sequence="1"/>

        <!-- Patient Views Menu -->
        <menuitem id="menu_patients"
                  name="Patients"
                  parent="menu_front_desk"
                  action="action_hospital_patient"
                  sequence="1"/>


        <menuitem id="menu_doctor"
                  name="Doctors"
                  parent="menu_front_desk"
                  action="action_hospital_doctor"
                  sequence="2"/>

        <menuitem id="menu_appointment"
                  name="Appointments"
                  parent="menu_front_desk"
                  action="action_hospital_appointment"
                  sequence="3"/>

        <menuitem id="menu_view_only_doctors"
                  name="View Doctors"
                  parent="menu_hospital_root"
                  action="action_hospital_doctor_view_only"
                  sequence="2"/>

        <menuitem id="menu_item_for_wizard"
                  name="Print Report"
                  parent="menu_front_desk"
                  action="action_hospital_doctor_report_wizard"
                  sequence="1" />
    </data>
</odoo>
