.bg-light {
    background-color: #f8f9fa;
}

.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
}

.rounded {
    border-radius: 0.5rem !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.text-white {
    color: #fff !important;
}